<div class="blade-frame" style="z-index: 100;">    

    <div class="loader-container" ng-if="!$ctrl.dataReady">
        <div class="loader"></div>  
    </div>  

    <div class="blade-frame-container">
        <div class="blade-frame-head">
            <div class="blade-frame-head-top">
                <span class="blade-frame-head-title">
                    Категории
                </span>
            </div>
        </div>

        <div class="blade-frame-content">        
            <tree class="tree-root"></tree>      
        </div>
    </div>

</div>